.lower-content {
}

.title-1-lower {
  width: fit-content;
}

.imageoffer {
  max-width: 125px;
}

.container-of-icons-and-descs {
}

@media screen and (max-width: 760px) {
  .container-of-icons-and-descs {
    flex-direction: column;
  }
}
