.green {
  color: #81b73c;
  font-weight: bold;
}

.olqp {
  background: url("https://imj31us4am50.github.io/imgs/slow-loris.jpeg");
  background-attachment: fixed;
}

.title,
.first-cont,
.second-cont {
  width: fit-content;
}

@media screen and (max-width: 760px) {
  .for-about {
    flex-direction: column;
  }
}
